@import url("https://unpkg.com/tailwindcss@3.0.23/src/css/preflight.css");

:root {
  --color-grey: #747474;
  --color-blue-dark: #1b31ff;
  --color-blue-dark-rgb: 27, 49, 255;
  --color-blue-lighter: #f3f5ff;
  --color-blue-light: #d1d9ff;

  --hPaddingPage: 20px;
  --wordFontSize: 18px;
  --canvasWidth: 600px;
  --canvasHeight: 315px;
  --containerWidth: 1067px;

  --dynamicCanvasWidth: min(600px, 100vw - (2 * var(--hPaddingPage)));
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/JetBrainsMono-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}

html {
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  font-size: 15px;
  line-height: 140.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

body.scroll-lock,
body.scroll-lock .page,
body.scroll-lock .page > div {
  overflow: hidden;
  -webkit-touch-callout: "none";
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

strong {
  font-weight: 800;
}

.container {
  max-width: 100vw;
  width: var(--containerWidth);
  margin: 0 auto;
}

@media (min-height: 813px) and (min-width: 768px) {
  .container {
    height: 100vh;
  }
}

section {
  display: grid;
  gap: 7px;
}

section.canvas {
  justify-self: start;
}

header {
  /* background-color: var(--color-blue-lighter); */
  display: grid;
  gap: 10px;
  align-content: start;
  -webkit-smoothing: subpixel-antialiased;
  -moz-smoothing: subpixel-antialiased;
}

header a {
  text-decoration: underline;
  color: inherit;
}

header,
main {
  padding: 20px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: -0.015em;
  color: var(--color-blue-dark);
  display: grid;
  justify-self: start;
}

header h2 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #2c2c2c;
  display: grid;
  justify-self: start;
}

.suggestion {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 159.5%;
  color: #747474;
}

.scroll {
  position: absolute;
  bottom: -5px;
  left: 0;
}

.word {
  --fs: var(--dynamicCanvasWidth) * 18 / 600;
  --lh: var(--fs) * (20 / 18);
  --pt: var(--fs) * (5 / 18);
  --pr: var(--fs) * (9 / 18);
  --pb: var(--fs) * (6 / 18);
  --pl: var(--fs) * (7 / 18);
  padding: calc(var(--pt)) calc(var(--pr)) calc(var(--pb)) calc(var(--pl));
  font-size: calc(var(--fs));
  line-height: calc(var(--lh));
  font-family: Georgia, "Times New Roman", Times, serif;

  font-weight: 400;
  color: #000000;
  cursor: grab;
  user-select: none;
}

.drag-overlay {
  /* prevent highlighting */
  user-select: none;
}

.drag-overlay button {
  transform: scale(1) rotate(0deg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.19);
  animation: liftAndTwist 0.1s linear forwards;
  border: solid 1px black;
  cursor: grabbing;
}

@keyframes liftAndTwist {
  to {
    box-shadow: 2px 6px 2px 1px rgba(0, 0, 0, 0.19);
    transform: scale(1.1) rotate(var(--random-rotation, 3deg));
  }
}

.word-list__outer {
  overflow: hidden;
  width: calc(100% + 2 * var(--hPaddingPage));
  margin-left: calc(-1 * var(--hPaddingPage));
  /* prevent highlight */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.word-list__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-height: 300px;
  gap: 10px;
  --w: 7300px;
  width: var(--w);
  min-width: var(--w);
  padding-bottom: 41px;
  padding-left: var(--hPaddingPage);
}

.word-list__inner button,
.drag-overlay button,
.canvas__canvas button {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.word-list__inner button:hover {
  box-shadow: 0px 1px 1px 0.5px rgba(0, 0, 0, 0.3);
}

.word-list__inner [aria-pressed="true"] {
  opacity: 0.25;
  border-style: dashed;
  box-shadow: none;
}
.canvas__canvas {
  width: calc(var(--dynamicCanvasWidth));
  /* height: 315px; */
  aspect-ratio: 1.904762;
  max-width: var(--canvasWidth);
  border: 1px solid #333;
  box-shadow: 4px 4px 0px #333;
  position: relative;
}

.canvas__canvas.over {
  border-color: #000000;
}

.canvas__canvas button {
  position: absolute;
  box-shadow: 1px 1px 0px 0px black;
}
.canvas__canvas button[aria-pressed="true"] {
  opacity: 0;
}

.page-main {
  display: grid;
  gap: 26px;
  align-content: center;
}

section.words {
  position: relative;
}

.drag-words {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  gap: 21px;
  align-items: center;
}

.drag-words svg {
  margin-top: -1px;
}

.share-btns {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 7px;
}

.share-btn {
  display: grid;
  grid-auto-flow: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 9px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.19);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  transform: scale(1) rotate(0deg);
  transform-origin: center;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.share-btn path {
  fill: black;
  stroke: black;
}

.share-btn:hover {
  color: var(--color-blue-dark);
  fill: var(--color-blue-dark);
  border-color: var(--color-blue-dark);
  box-shadow: 0px 2px 2px rgba(var(--color-blue-dark-rgb), 0.25);
  transform: scale(1.05) rotate(1deg);
  z-index: 1;
}

.share-btn:hover path {
  fill: var(--color-blue-dark);
  stroke: var(--color-blue-dark);
}

.share-btn:active {
  transform: scale(1.1) rotate(2.5deg);
  box-shadow: 0px 1px 3px 2px rgba(var(--color-blue-dark-rgb), 0.25);
}

.share-btn.twitter {
  padding: 11px;
  place-content: center;
}

.squigglies {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.squigglies path {
  fill: none;
  stroke: rgba(var(--color-blue-dark-rgb), 0.5);
  mix-blend-mode: color;
  stroke-width: 1px;
  stroke-dasharray: 10px 8px;
}
/* Two Column Layout */

@media (min-width: 768px) {
  :root {
    --dynamicCanvasWidth: min(
      600px,
      (3 / 5) * (min(100vw, var(--containerWidth))) - 2 * var(--hPaddingPage)
    );
  }

  section.canvas {
    justify-self: stretch;
  }

  .container {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
  }

  header {
    position: relative;
    padding-top: 60px;
    gap: 20px;
    border-right: solid 1px var(--color-blue-dark);
  }

  h1 {
    color: var(--color-blue-dark);
  }

  header h3 {
    margin-top: 20px;
  }

  header::after {
    /* content: " "; */
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    /* Option 1*/
    /* background-image: linear-gradient(
      240deg,
      hsl(230deg 100% 98%) 0%,
      hsl(230deg 100% 97%) 11%,
      hsl(230deg 100% 96%) 22%,
      hsl(230deg 100% 95%) 33%,
      hsl(230deg 100% 95%) 44%,
      hsl(230deg 100% 94%) 56%,
      hsl(230deg 100% 93%) 67%,
      hsl(230deg 100% 92%) 78%,
      hsl(230deg 100% 92%) 89%,
      hsl(230deg 100% 91%) 100%
    ); */

    /* Option 2 */
    /* background-color: var(--color-blue-lighter); */

    /* Option 3 */
    /* background-blend-mode: darken;
    background-color: #0000;
    background-image: repeating-linear-gradient(
        103deg,
        #d1d9ff66,
        #d1d9ff66 1px,
        #f3f5ff 1px 21px
      ),
      repeating-linear-gradient(
        193deg,
        #d1d9ff66,
        #d1d9ff66 1px,
        #f3f5ff 1px 21px
      );
    background-position: 0 0;
    background-repeat: repeat, repeat;
    background-size: 100% 100%;
    background-attachment: scroll, scroll;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box; */

    /* Option 4 */
    /* background-blend-mode: hard-light;
    background-color: #0000;
    background-image: linear-gradient(
        193deg,
        #a15af366,
        #a15af366 8%,
        #4aa744a8 89%
      ),
      repeating-linear-gradient(
        103deg,
        #d1d9ff66,
        #d1d9ff66 1px,
        #f3f5ff 1px 21px
      ),
      repeating-linear-gradient(
        193deg,
        #d1d9ff66,
        #d1d9ff66 1px,
        #f3f5ff 1px 21px
      );
    background-position: 0 0;
    background-repeat: repeat, repeat, repeat;
    background-size: 100% 100%;
    background-attachment: scroll, scroll, scroll;
    background-origin: padding-box, padding-box, padding-box;
    background-clip: border-box, border-box, border-box; */

    /* Option 5 */
    /* background-blend-mode: darken;
    background-color: #0000;
    background-image: linear-gradient(
        193deg,
        #a15af366,
        #a15af366 8%,
        #4aa744a8 89%
      ),
      repeating-linear-gradient(
        103deg,
        #d1d9ff66,
        #d1d9ff66 1px,
        #f3f5ff 1px 10px
      ),
      repeating-linear-gradient(
        193deg,
        #d1d9ff66,
        #d1d9ff66 1px,
        #f3f5ff 1px 10px
      );
    background-position: 0 0;
    background-repeat: repeat, repeat, repeat;
    background-size: 100% 100%;
    background-attachment: scroll, scroll, scroll;
    background-origin: padding-box, padding-box, padding-box;
    background-clip: border-box, border-box, border-box; */
  }

  .word-list__outer {
    width: calc(
      100% + 2 * var(--hPaddingPage) +
        max(0px, calc((100vw - var(--containerWidth)) / 2))
    );
  }

  .squigglies {
    width: calc(100% + max(0px, calc((100vw - var(--containerWidth)) / 2)));
  }

  h1 {
    font-size: 44px;
    line-height: 44px;
  }
}

[data-backdrop] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.125);
  z-index: 100;
  backdrop-filter: blur(1px);
}

[data-dialog] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  max-height: 400px;
  overflow: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.19);
  z-index: 101;
}

.word-info h2 {
  margin-top: 0;
  font-size: 150%;
  line-height: 120%;
}

.word-info {
  display: grid;
  gap: 20px;
}

.word-info .close-btn {
  justify-self: end;
}

.word-info .sources-list {
  display: grid;
  gap: 5px;
}

.word-info .sources-list a {
  display: grid;
  padding: 5px;
  margin-left: -5px;
}

.word-info .sources-list a:hover {
  background-color: #f3f5ff;
  outline: 1px solid #d1d9ff;
}

.word-info .source-title {
  font-weight: 800;
  font-size: 120%;
  line-height: 120%;
}

.word-info .source-url {
  font-size: 70%;
  opacity: 0.6;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-with-label {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  font-size: 80%;
  line-height: 1;
}

label {
  display: block;
  opacity: 0.6;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.sidebar-icon-link {
  display: grid;
  grid-auto-flow: column;
  text-decoration: none;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.sidebar-icon-link:hover {
  color: var(--color-blue-dark);
}

.sidebar-icon-link:hover g:not([mask="url(#c)"]):not([mask="url(#d)"]) path {
  stroke: var(--color-blue-dark);
}

.sidebar-icon-link:hover g[mask="url(#c)"] path,
.sidebar-icon-link:hover g[mask="url(#d)"] path {
  fill: var(--color-blue-dark);
}

.tone-row:hover svg {
  animation: rotating 2s infinite linear;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Change highlight color */
*::selection {
  background-color: var(--color-blue-dark);
  color: #ffffff;
}

.dialog-heading {
  display: grid;
  gap: 10px;
}
